<form enctype="multipart/form-data" action="http://192.168.1.27:4444/" method="POST">
Choose a file to upload: <input name="file" type="file" /><br />
<input type="submit" value="Upload File" />
</form>
